<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All my classes list</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css"/>
</head>
<body>

<div id="my-list-members-logo-container">

    <div id="my-list-container">
        <div class="my-list-members" th:each="cc_class : ${listOfClasses}">
            <a th:href="@{/all_classes/chosen_my_class/{id}(id=${cc_class.classId})}">
                <div th:text="${cc_class.name}"

                     class="input-update sub-section sub-section3 sub-section4">

                </div>
            </a>
        </div>
    </div>
</div>


<!--<script src="js/script.js"></script>-->

</body>
</html>
