<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Administrator</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0m mininum-scale=1.0">
</head>
<body>
<div class="list-menu">
    <br>
    <div id="left-section">
        <nav>
            <img alt="Profile photo" class="pure-profile-photo profile-photo" th:src="@{/photo/profile/king.webp}" src="../static/photo/profile/king.webp">
        </nav>
    </div>
    <div id="right-section" class="black-color">
        <form id="form" action="#" th:action="@{/admins_list/add_admin}" th:object="${user}" method="post">
            <nav>
                <h5 class="is-center pure-item sub-section3 entity-input">User firstname</h5>
                <label for="firstName"></label>
                <input id="firstName" class="is-center pure-item sub-section3 entity-input background" type="text"
                       th:field="*{firstName}" th:value="${user.firstName}" required>

                <h5 class="is-center pure-item sub-section3 entity-input">User lastname</h5>
                <label for="lastName"></label>
                <input id="lastName" class="is-center pure-item sub-section3 entity-input background" type="text"
                       th:field="*{lastName}" th:value="${user.lastName}" required>

                <h5 class="is-center pure-item sub-section3 entity-input">User email</h5>
                <label for="email"></label>
                <input id="email" class="is-center pure-item sub-section3 entity-input background" type="text"
                       th:field="*{email}" th:value="${user.email}" required>

                <h5 class="is-center pure-item sub-section3 entity-input">User password</h5>
                <label for="password"></label>
                <input id="password" class="is-center pure-item sub-section3 entity-input background" type="text"
                       th:field="*{password}" th:value="${user.password}" required>

                <h5 class="is-center pure-item sub-section3 entity-input">User phone number</h5>
                <label for="phoneNumber"></label>
                <input id="phoneNumber" class="is-center pure-item sub-section3 entity-input background" type="text"
                       th:field="*{phoneNumber}" th:value="${user.phoneNumber}">

                <input id="send" type="submit" class="input-update headline" value="SAVE"/>
            </nav>
        </form>
    </div>
</div>
</body>
</html>
