<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CodeCool</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0m mininum-scale=1.0">
</head>
<body>
<div class="flex-container">
    <a class="grid-block top-margin"  href="/codecool/mentor_student">
        <img class="img"  src='photo/img/logo-items/exam/logo-exam2.jpg'/>
        <button class="grid-title btn input-margin">List of Members</button>
    </a>
    <a class="grid-block top-margin" href="/codecool/class_team">
        <img class="img" src='photo/img/logo-items/exam/logo-exam3.jpg'/>
        <button class="grid-title btn input-margin">Collaboration</button>
    </a>
</div>
</body>
</html>