<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CodeCool</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0m mininum-scale=1.0">
</head>
<body>
<h5 class="is-center headline2 zenta">Mentors</h5>
<div th:each="mentor: ${mentors}">
    <input class="info-item" th:value="'First name: ' + ${mentor.firstName}" disabled>
    <input class="info-item" th:value="'Last name: ' + ${mentor.lastName}" disabled>
    <input class="info-item" th:value="'Email: ' + ${mentor.email}" disabled>
    <input class="info-item" th:value="'Phone number: ' + ${mentor.phoneNumber}" disabled>
    <p><input class="info-item" value="Class:" disabled></p>
    <p></p>
</div>
<h5 class="is-center headline2 zenta">Students</h5>
<div th:each="student: ${students}">
    <input class="info-item" th:value="'First name: ' + ${student.firstName}" disabled>
    <input class="info-item" th:value="'Last name: ' + ${student.lastName}" disabled>
    <input class="info-item" th:value="'Email: ' + ${student.email}" disabled>
    <input class="info-item" th:value="'Phone number: ' + ${student.phoneNumber}" disabled>
    <input class="info-item" th:value="'Code coins: ' + ${student.codeCoolCoins}" disabled>
    <input class="info-item" th:value="'Experience: ' + ${student.exp}" disabled>
    <input class="info-item" value="Team:" disabled>
    <p><input class="info-item" value="Class:" disabled></p>
    <p></p>
</div>
</body>
</html>