<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Experiences levels</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0m mininum-scale=1.0">
    <script th:src="@{js/exp.js}" src="../static/js/exp.js" defer></script>
</head>
<body>
    <div th:switch="${experience}">
        <div th:case="null">
            <div class="list-menu">
                <h2 class="button-remove is-center">No students yet!</h2>
            </div>
        </div>
        <div th:case="*">
            <tbody th:each="level: ${experience}">
                    <div class="list-menu">
                        <input class="input-update" type="text" th:value="${'Level ' + (experience.indexOf(level) + 2)}" disabled>
                        <input class="input-update" type="text" th:value="${level.value}" disabled>
                        <a th:href="@{experiences/delete_level/{id}(id=${level.loeID})}" class="button-remove">Remove</a>
                    </div>
            </tbody>
        </div>
    </div>

    <form id="form" action="#" th:action="@{/experiences/add_level}" th:object="${level}" method="post">
        <div class="list-menu list-menu-frame">
            <label for="new_exp"></label>
            <input id="new_exp" class="input-update background black-color" type="text" th:value="${level.value}" th:field="*{value}" placeholder="Range">
            <input id="send" class="input-update button-update headline" type="submit" value="ADD NEW">
        </div>
    </form>
</body>
</html>