<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of mentors and students</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="list-menu">
    <input class="info-item is-center headline2" value="Mentors" disabled>
</div>
<div th:each="mentor: ${mentors}">
    <input class="info-item" th:value="'First name: ' + ${mentor.firstName}" disabled>
    <input class="info-item" th:value="'Last name: ' + ${mentor.lastName}" disabled>
    <input class="info-item" th:value="'Email: ' + ${mentor.email}" disabled>
    <input class="info-item" th:value="'Phone number: ' + ${mentor.phoneNumber}" disabled>
    <p></p>
</div>

<div class="list-menu">
    <input class="info-item is-center headline2" value="Students" disabled>
</div>
<div th:each="student: ${students}">
    <input class="info-item" th:value="'First name: ' + ${student.firstName}" disabled>
    <input class="info-item" th:value="'Last name: ' + ${student.lastName}" disabled>
    <input class="info-item" th:value="'Email: ' + ${student.email}" disabled>
    <input class="info-item" th:value="'Phone number: ' + ${student.phoneNumber}" disabled>
    <input class="info-item" th:value="'Code coins: ' + ${student.codeCoolCoins}" disabled>
    <input class="info-item" th:value="'Experience: ' + ${student.exp}" disabled>
    <p></p>
</div>
<div class="list-menu">
    <p><a class="button-update" th:href="@{/codecool}">Back to menu</a></p>
</div>
</body>
</html>