<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students list</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div th:switch="${students}">
        <div th:case="null">
            <div class="list-menu">
                <h2 class="button-remove is-center">No students yet!</h2>
            </div>
        </div>

        <div th:case="*">
            <tbody th:each="user: ${students}">

                <div class="list-menu">
                    <input class="input-update" th:value="${user.firstName}" disabled>
                    <input class="input-update" th:value="${user.lastName}" disabled>
                    <a th:href="@{student_list/edit/{id}(id=${user.userId})}" class="button-update">Edit</a>
                    <a th:href="@{student_list/delete/{id}(id=${user.userId})}" class="button-remove">Remove</a>
                </div>
            </tbody>
        </div>
    </div>

    <div class="list-menu">
        <a th:href="@{student_list/add_codecooler}" class="input-update button-update headline">ADD NEW</a>
    </div>
</body>
</html>
