<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit item</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0m mininum-scale=1.0">
</head>
<body>
<div id="right-section">
    <br>

    <p class="is-center headline2 zenta"> Update Quest </p>
    <nav>
        <form id="form" action="#" th:action="@{/update_quest/{id}(id=${quest.questId})}" th:object="${quest}" method="post">
            <nav>
                <h5 class="is-center pure-item sub-section3 entity-input">Quest title</h5>
                <label for="title"></label>
                <input id="title" class="is-center pure-item sub-section3 entity-input background" type="text"
                       th:field="*{name}" th:value="itemTitle">

                <h5 class="is-center pure-item sub-section3 entity-input">Quest  description</h5>
                <label for="description"></label>
                <input id="description" class="is-center pure-item sub-section3 entity-input background" type="text"
                       th:field="*{description}" th:value="itemDescription">

                <h5 class="is-center pure-item sub-section3 entity-input">Quest  type</h5>
                <label for="itemType"></label>
                <input id="itemType" class="is-center pure-item sub-section3 entity-input background" type="text"
                       th:field="*{questTypeId}" th:value="itemType">

                <h5 class="is-center pure-item sub-section3 entity-input">Quest value</h5>
                <label for="questValue"></label>
                <input id="questValue" class="is-center pure-item sub-section3 entity-input background" type="text"
                       th:field="*{questValue}" th:value="questValue">

                <h5 class="is-center pure-item sub-section3 entity-input">Quest  img</h5>
                <label for="img"></label>
                <input id="img" class="is-center pure-item sub-section3 entity-input background" type="hidden"
                       th:field="*{img}">

                <!--<option th:each="user: ${item}"
                        th:value="${user.itemId}"
                        th:text="${user.itemId} + ' ' + ${user.name}">
                </option>-->

                <input  type="submit" id="savebutton" class="input-update headline" value="UPDATE">
            </nav>
        </form>
    </nav>
    <script src="js/update.js"></script>
</div>
</body>
</html>