<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My items list</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0m mininum-scale=1.0">
    <!--    <script src="js/item.js" defer></script>-->
</head>
<body>

    <div th:switch="${codecoolerItems}">
        <div th:case="null">
            <nav>
                <div class="welcome is-center">
                    <p><a class="button-remove" th:href="@{/items_menu}">No items yet!</a></p>
                    <p><img class="error-photo" src="../static/photo/img/logo-quests/road/logo-road1.webp"
                            th:src="@{/photo/img/logo-quests/road/logo-road1.webp}"></p>
                    <p><a class="button-update" th:href="@{/profile/codecooler_profile}">Back to the profile page</a></p>
                </div>
            </nav>
        </div>

        <div th:case="*">
            <div th:each="item: ${codecoolerItems}">
                <nav>
                    <input class="input-update" type="text" th:value="${item.itemId}" disabled>
                    <input class="input-update" type="text" th:value="${item.name}" disabled>

                    <a th:href="@{use_item/{id}(id=${item.itemId})}"><input class="button-update" type="submit" th:value="USE"></a>
                </nav>
            </div>
            <div class="list-menu">
                <a class="button-update" th:href="@{/profile/codecooler_profile}">Back to the profile page</a>
            </div>
        </div>
    </div>
</body>
</html>
