<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My quest list</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0m mininum-scale=1.0">
    <!--    <script src="js/item.js" defer></script>-->
</head>
<body>

<div th:switch="${codecoolerQuests}">
    <div th:case="null">
        <nav>
            <div class="welcome is-center">
                <p><a class="button-remove" th:href="@{/quests_menu}">No Quests yet!</a></p>
                <p><img class="error-photo" src="../static/photo/img/logo-quests/road/logo-road1.webp"
                        th:src="@{/photo/img/logo-quests/road/logo-road1.webp}"></p>
                <p><a class="button-update" th:href="@{/profile/codecooler_profile}">Back to the profile page</a></p>
            </div>
        </nav>
    </div>

    <div th:case="*">
        <div th:each="quest: ${codecoolerQuests}">
            <nav>
                <input class="input-update" type="text" th:value="'Quest id: ' + ${quest.questId}" disabled>
                <input class="input-update" type="text" th:value="${quest.name}" disabled>
                <input class="input-update" type="text" th:value="'Value: ' + ${quest.questValue}" disabled>
            </nav>
        </div>
        <div class="list-menu">
            <a class="button-update" th:href="@{/profile/codecooler_profile}">Back to the profile page</a>
        </div>
    </div>
</div>
</body>
</html>
