<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentor profile</title>
    <link rel="stylesheet" type="text/css" href="CSS/style.css">
    <script defer src="js/script.js"></script>
</head>
<body>
<div class="inside-field">
    <div id="left-section">
        <img alt="Profile photo" class="pure-profile-photo profile-photo" src="src/profiles/menthor.webp">
        <br><br><br>
        <input type="submit" class="is-center button-buy" id="my_classes" value="My classes">
    </div>

    <div id="right-section-flex">
        <br><br><br><br><br>
        <form id="form">
            <nav>
                <h5 class="is-center pure-item sub-section2">Name</h5>
                <h5 class="is-center pure-item sub-section2">Rafał</h5>

                <h5 class="is-center pure-item sub-section2">Surname</h5>
                <h5 class="is-center pure-item sub-section2">Dudzik</h5>

                <h5 class="is-center pure-item sub-section2">Phone number</h5>
                <label for="phone"></label><input id="phone" class="is-center pure-item sub-section3" type="text"
                                                  value="0125548755">
                <input type="submit" id="submit_phone" value="Confirm" disabled='disabled'>

                <h5 class="is-center pure-item sub-section2">Password</h5>
                <label for="password"></label><input id="password" class="is-center pure-item sub-section3" type="text"
                                                     value="kZj4fv8cV">
                <input type="submit" id="submit_password" value="Confirm" disabled='disabled'>

                <h5 class="is-center pure-item sub-section2">Mail</h5>
                <label for="mail"></label><input id="mail" class="is-center pure-item sub-section3" type="text"
                                                 value="r.dudzik@codecool.com">
                <input type="submit" id="submit_mail" value="Confirm" disabled='disabled'>
            </nav>

        </form>
    </div>
</div>


</body>
</html>