<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Items menu</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0m mininum-scale=1.0">
</head>
<body>
    <div class="flex-container">

        <a class="grid-block top-margin"  href="items_store/1">
            <img class="img"  src='photo/img/logo-menu/logo-menu2.jpg'/>
            <button class="grid-title btn">Single items</button>
        </a>

        <a class="grid-block top-margin" href="items_store/2">
            <img class="img" src='photo/img/logo-menu/logo-menu3.jpg'/>
            <button class="grid-title btn">Team items</button>
        </a>

    </div>

</body>
</html>

<!--<div class="store-menu-container">-->
<!--    <div class="block-menu"><a class="store-title" href="single_quests.html">Single Quests</a></div>-->
<!--    <div class="block-menu"><a class="store-title" href="team_quests.html">Team Quests</a></div>-->
<!--</div>-->



