<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My items list</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0m mininum-scale=1.0">
    <!--    <script src="js/item.js" defer></script>-->
</head>
<body>

<div th:switch="${items}">
    <div th:case="null">
        <div class="list-menu">
            <h2 class="button-remove is-center">No items yet!</h2>
        </div>
    </div>

    <div th:case="*">
        <div th:each="item: ${items}">
            <nav>
                <input class="input-update" type="text" th:value="${item.itemId}" disabled>
                <input class="input-update" type="text" th:value="${item.name}" disabled>

                <a th:href="@{item_list/edit/{id}(id=${item.itemId})}" class="button-update">Edit</a>
                <a th:href="@{item_list/delete/{id}(id=${item.itemId})}" class="button-remove">Remove</a>
            </nav>
        </div>
    </div>

    <div class="list-menu">
        <a th:href="@{add_item}" class="input-update button-update headline">ADD NEW</a>
    </div>
</div>
</body>
</html>
