<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quests menu</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="flex-container">
    <a class="grid-block top-margin"  href="quests_store/1">
        <img class="img"  src='photo/img/logo-menu/logo-menu4.jpg'/>
        <button class="grid-title btn input-margin">Single quests</button>
    </a>

    <a class="grid-block top-margin" href="quests_store/2">
        <img class="img" src='photo/img/logo-menu/logo-menu8.jpg'/>
        <button class="grid-title btn input-margin">Team quests</button>
    </a>
</div>
</body>
</html>