<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new Student</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0m mininum-scale=1.0">
</head>
<body>
<div id="right-section">
    <br><br><br><br><br>
    <form id="form" action="#" th:action="@{/students_list}" th:object="${codecooler}" method="post">
        <h5 class="is-center headline"> Add new Student</h5>
        <nav>
            <img alt="Profile photo" class="pure-profile-photo add-entity-photo" src="../static/photo/profile/knight.webp">
            <h5 class="is-center pure-item sub-section2">Name</h5>
            <label for="name"></label>
            <input id="name" class="is-center pure-item sub-section3 entity-input" type="text"
                   value="Your Name">
<!--                   onfocus="if (this.value === 'Your Name') {this.value=''}">-->
            <input type="submit" id="savebutton" class="input-update headline" value="SAVE">
        </nav>
        <br><br><br>
    </form>
</div>
<script defer src="js/Add_entity.js"></script>

</body>
</html>
