<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team items</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0m mininum-scale=1.0">
</head>

<div class="flex-container">
    <div th:each="item: ${items}">
        <div th:if="${item.itemTypeId == 2}">

            <div class="grid-block">
                <img class="img"  th:src="@{${item.img}}"/>
                <button class="grid-title btn fontsforweb_fontid_221" th:text="${item.name + ' [' + item.price + 'CC]'}"></button>
                <span class="grid-description fontsforweb_fontid_221" th:text="${item.description}" disabled></span>
            </div>

        </div>
    </div>
</div>

<script src="script.js"></script>

</body>
</html>