<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update student</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0m mininum-scale=1.0">
</head>
<body>
<div id="right-section">
    <br>

    <h5 class="is-center headline"> Update Student</h5>
    <nav>
        <form id="form" action="#" th:action="@{/update/{id}(id=${codecooler.codecooler_id})}" th:object="${codecooler}" method="post">
            <nav>
                <h5 class="is-center pure-item sub-section3 entity-input">User id</h5>
                <label for="user_id"></label>
                <input id="user_id" class="is-center pure-item sub-section3 entity-input" type="text"
                       th:field="*{user_id}" th:value="UserID">

                <h5 class="is-center pure-item sub-section3 entity-input">Codecooler level</h5>
                <label for="loe_id"></label>
                <input id="loe_id" class="is-center pure-item sub-section3 entity-input" type="text"
                       th:field="*{loe_id}" th:placeholder="loe">

                <h5 class="is-center pure-item sub-section3 entity-input">Codecooler coins</h5>
                <label for="codecool_coins"></label>
                <input id="codecool_coins" class="is-center pure-item sub-section3 entity-input" type="text"
                       th:field="*{codecool_coins}" th:placeholder="coins" >
                <input type="submit" id="savebutton" class="input-update headline" value="UPDATE">
            </nav>
        </form>
    </nav>
    <script src="js/update.js"></script>
</div>
</body>
</html>