<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Item</title>
    <link rel="stylesheet" type="text/css" href="CSS/style.css">
</head>
<body>
    <div id="right-section">
        <br><br><br><br><br>
        <form id="form">
            <h5 class="is-center headline"> Add new Item</h5>
            <nav>
                <h5 class="is-center pure-item sub-section2">Name</h5>
                <label for="name"></label>
                <input id="name" class="is-center pure-item sub-section3 entity-input" type="text" value="Name of Item" onfocus="if (this.value === 'Name of Item') {this.value=''}">
    
                <h5 class="is-center pure-item sub-section2 headline">Description</h5>
                <div class="is-center pure-comments"><label for="description"></label><textarea rows="10" cols="50" id="description" name="description" onfocus="if (this.value === 'Description of Item') {this.value=''}">Description of Item</textarea></div>
    
                <h5 class="is-center pure-item sub-section2 headline">Item type</h5>
                <h5 class="is-center pure-item sub-section2"><input type="radio" name="item-type" value="single"> Single  <input type="radio" name="item-type" value="team"> Team</h5>
    
                <h5 class="is-center pure-item sub-section2">Price</h5>
                <label for="price"></label>
                <input id="price" class="is-center pure-item sub-section3 entity-input" type="text" value="Price of items"
                onfocus="if (this.value === 'Price of items') {this.value=''}">
                
                <input type="submit" id="savebutton" class="is-center headline savebutton" value="SAVE" disabled='disabled'>
    
            </nav>
            <br><br><br>
        </form>br><br>
        </form>
    </div>
    
</body>
</html>
