<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new team</title>
    <link rel="stylesheet" type="text/css" href="CSS/style.css">
</head>
<body>
    <div id="right-section">
        <br><br><br><br><br>
        <form id="form">
            <h5 class="is-center headline"> Add new Team</h5>
            <nav>
                <h5 class="is-center pure-item sub-section2">Team name</h5>
                <label for="name"></label>
                <input id="name" class="is-center pure-item sub-section3 entity-input" type="text" value="Name of Team" onfocus="if (this.value === 'Name of Item') {this.value=''}">
                
                <h5 class="is-center pure-item sub-section2">Group size</h5>
                <label for="size"></label>
                <input id="size" class="is-center pure-item sub-section3 entity-input" type="text" value="Group size"
                onfocus="if (this.value === 'Group size') {this.value=''}">
                
                <input type="submit" id="savebutton" class="is-center headline savebutton" value="CREATE" disabled='disabled'>
    
            </nav>
            <br><br><br>
        </form><br><br>
        </form>
    </div>
    
</body>
</html>
