<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admins list</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>

<div class="list-menu-container">
    <div class="block-list-menu"><input class="input-update" type="text" value="Stella Holding" disabled></div>
    <div class="block-list-menu"><button class="button-update" >Update</button> </div>

    <div class="block-list-menu"><input class="input-update" type="text" value="Youssef Morley" disabled></div>
    <div class="block-list-menu"><button class="button-update" >Update</button> </div>

    <div class="block-list-menu"><input class="input-update" type="text" value="Nathaniel Ali" disabled></div>
    <div class="block-list-menu"><button class="button-update" >Update</button> </div>

    <div class="block-list-menu"><input class="input-update" type="text" value="Isis Benjamin" disabled></div>
    <div class="block-list-menu"><button class="button-update" >Update</button> </div>

    <div class="block-list-menu"><input class="input-update" type="text" value="Rylan Yang" disabled></div>
    <div class="block-list-menu"><button class="button-update" >Update</button> </div>

    <div class="block-list-menu"><input class="input-update" type="text" value="Janine Matthews" disabled></div>
    <div class="block-list-menu"><button class="button-update" class="button-update" >Update</button> </div>

    <div class="block-list-menu"><input class="input-update" type="text" value="New admin" disabled></div>
    <div class="block-list-menu"><button class="button-update">>>> ADD NEW ADMIN <<<</button> </div>


    <script src="js/script.js"></script>

</body>
