<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="admin_menu" content="width=device-width, initial-scale=1.0">
    <title>Admin menu</title>
    <link rel="stylesheet" type="text/css" href="CSS/style1.css">
</head>
<body>
    <div class="header">
        <div class="pure-menu-horizontal">
            <img width="100" alt="Logo" class="pure-img-responsive pure-logo" src="https://cdn.pixabay.com/photo/2018/01/06/23/53/knight-3066217_960_720.jpg">            
            
            <img width="100" alt="Profile photo" class="pure-img-responsive pure-profile-photo" src="https://cdn.pixabay.com/photo/2020/06/01/03/00/king-henry-iii-5244898_960_720.png">

            <a class="pure-menu-item-log-out" href="#" class="pure-manu-link">Log out</a>
            <a class="pure-menu-item-contact" href="#" class="pure-manu-link">Contact</a>
            <a class="pure-menu-item-messages" href="#" class="pure-manu-link">Mesages</a>
        </div>

    </div>

    <div class="pure-main is-center">
        <h1>MENU</h1>

        <a class="pure-item" href="#" class="pure-manu-link">Admin</a>
        <a class="pure-item" href="#" class="pure-manu-link">Classes</a>
        <a class="pure-item" href="#" class="pure-manu-link">Menthors</a>
        <a class="pure-item" href="#" class="pure-manu-link">Codecoolers</a>
        <a class="pure-item" href="#" class="pure-manu-link">Teams</a>
        <a class="pure-item" href="#" class="pure-manu-link">Expierience Leves</a>
        <a class="pure-item" href="#" class="pure-manu-link">Questes</a>
        <a class="pure-item" href="#" class="pure-manu-link">Items</a>
        <a class="pure-item" href="#" class="pure-manu-link">Wallets</a>
        <a class="pure-item" href="#" class="pure-manu-link">My profile</a>
    </div>
    
    <div class="content">
        <div class="is-center">
            <iframe src="menthor_menu.html" height="400" width="75%" title="Iframe Menu"></iframe>
        </div>
    </div>

</body>
</html>