<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Experiences levels</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    
    <div class="list-menu-container list-menu-container-ex">
        <div class="block-list-menu"><input class="input-update" type="text" value="Level 1" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="500"></div>
        <div class="block-list-menu"><button class="button-update" >Update</button> </div>
        <div class="block-list-menu"><button class="button-update" >Remove</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Level 2" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="1000"></div>
        <div class="block-list-menu"><button class="button-update" >Update</button> </div>
        <div class="block-list-menu"><button class="button-update" >Remove</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Level 3" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="1500"></div>
        <div class="block-list-menu"><button class="button-update" >Update</button> </div>
        <div class="block-list-menu"><button class="button-update" >Remove</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Level 4" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="2000"></div>
        <div class="block-list-menu"><button class="button-update" >Update</button> </div>
        <div class="block-list-menu"><button class="button-update" >Remove</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Level 5" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="3000"></div>
        <div class="block-list-menu"><button class="button-update" >Update</button> </div>
        <div class="block-list-menu"><button class="button-update" >Remove</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Level 6" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="4500"></div>
        <div class="block-list-menu"><button class="button-update" >Update</button> </div>
        <div class="block-list-menu"><button class="button-update" >Remove</button> </div>
    </div>
    <div class="list-menu-container">

        <div class="block-list-menu"><input class="input-update" type="text" value="Range"></div>
        <div class="block-list-menu"><button class="button-update" class="button-update">>>> ADD NEW LEVEL <<<</button> </div>

        
    <script src="js/script.js"></script>
    
</body>
