<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items list by mentor</title>
    <link rel="stylesheet" href="CSS/style.css">
    <script src="js/item.js" defer></script>
</head>
<body>

<div class="list-menu-container list-menu-container-ex">
    <div class="block-list-menu"><input class="input-update" type="text" value="Item" disabled></div>
    <div class="block-list-menu"><input class="input-update" type="text" value="Name" disabled></div>
    <div class="block-list-menu"><input class="input-update" type="text" value="ID" disabled></div>
    <div id="index_1" class="block-list-menu button-update savebutton savebutton-m" onclick="clickCellByMenthor(1)">CAN
        USE
    </div>

    <div class="block-list-menu"><input class="input-update" type="text" value="Item" disabled></div>
    <div class="block-list-menu"><input class="input-update" type="text" value="Team Name" disabled></div>
    <div class="block-list-menu"><input class="input-update" type="text" value=" TEAM ID" disabled></div>
    <div id="index_2" class="block-list-menu button-update savebutton savebutton-m" onclick="clickCellByMenthor(2)">CAN
        USE
    </div>

    <div class="block-list-menu"><input class="input-update" type="text" value="Item" disabled></div>
    <div class="block-list-menu"><input class="input-update" type="text" value="Name" disabled></div>
    <div class="block-list-menu"><input class="input-update" type="text" value="ID" disabled></div>
    <div id="index_3" class="block-list-menu button-update savebutton savebutton-m" onclick="clickCellByMenthor(3)">CAN
        USE
    </div>

    <div class="block-list-menu"><input class="input-update" type="text" value="Item" disabled></div>
    <div class="block-list-menu"><input class="input-update" type="text" value="Name" disabled></div>
    <div class="block-list-menu"><input class="input-update" type="text" value="ID" disabled></div>
    <div id="index_4" class="block-list-menu button-update savebutton savebutton-m" onclick="clickCellByMenthor(4)">CAN
        USE
    </div>

    <div class="block-list-menu"><input class="input-update" type="text" value="Item" disabled></div>
    <div class="block-list-menu"><input class="input-update" type="text" value="TEAM Name" disabled></div>
    <div class="block-list-menu"><input class="input-update" type="text" value="TEAM ID" disabled></div>
    <div id="index_5" class="block-list-menu button-update savebutton savebutton-m" onclick="clickCellByMenthor(5)">CAN
        USE
    </div>

    <div class="block-list-menu"><input class="input-update" type="text" value="Item" disabled></div>
    <div class="block-list-menu"><input class="input-update" type="text" value="Name" disabled></div>
    <div class="block-list-menu"><input class="input-update" type="text" value="ID" disabled></div>
    <div id="index_6" class="block-list-menu button-update savebutton savebutton-m" onclick="clickCellByMenthor(6)">CAN
        USE
    </div>
</div>

</body>
</html>
