<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mentors list</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>

<div class="list-menu-container">
    <div class="block-list-menu"><input class="input-update" type="text" value="Stella Holding" disabled></div>
    <div class="block-list-menu">
        <button class="button-update">Edit</button>
    </div>

    <div class="block-list-menu"><input class="input-update" type="text" value="Youssef Morley" disabled></div>
    <div class="block-list-menu">
        <button class="button-update">Edit</button>
    </div>

    <div class="block-list-menu"><input class="input-update" type="text" value="Nathaniel Ali" disabled></div>
    <div class="block-list-menu">
        <button class="button-update">Edit</button>
    </div>

    <div class="block-list-menu"><input class="input-update" type="text" value="Isis Benjamin" disabled></div>
    <div class="block-list-menu">
        <button class="button-update">Edit</button>
    </div>

    <div class="block-list-menu"><input class="input-update" type="text" value="Rylan Yang" disabled></div>
    <div class="block-list-menu">
        <button class="button-update">Edit</button>
    </div>

    <div class="block-list-menu"><input class="input-update" type="text" value="Janine Matthews" disabled></div>
    <div class="block-list-menu">
        <button class="button-update" class="button-update">Edit</button>
    </div>

    <div class="block-list-menu"><input class="input-update" type="text" value="New mentor" disabled></div>
    <div class="block-list-menu">
        <button class="button-update">>>> ADD NEW MENTOR <<<</button>
    </div>


    <script src="js/script.js"></script>

</body>
