<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mentor class list</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    
    <div class="list-menu-container list-menu-container-ex">
        <div class="block-list-menu"><input class="input-update" type="text" value="Class" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Class A"></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="20/25" disabled></div>
        <div class="block-list-menu"><button class="button-update" >Check</button> </div>
        
        <div class="block-list-menu"><input class="input-update" type="text" value="Class" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Java"></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="35/40" disabled></div>
        <div class="block-list-menu"><button class="button-update" >Check</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Class" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Python"></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="15/15" disabled></div>
        <div class="block-list-menu"><button class="button-update" >Check</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Class" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="WEB"></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="17/20" disabled></div>
        <div class="block-list-menu"><button class="button-update" >Check</button> </div>
    </div>

    <script src="js/script.js"></script>
    
</body>
