<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My class list</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>

<div class="list-menu-container list-menu-container-ex">
    <div class="block-list-menu"><input class="input-update" type="text" value="Class" disabled></div>
    <div class="block-list-menu"><input class="input-update" type="text" value="Class A" disabled></div>
    <div class="block-list-menu"><input class="input-update" type="text" value="20/25" disabled></div>
    <div class="block-list-menu">
        <button class="button-update">Check</button>
    </div>

</div>

<script src="js/script.js"></script>

</body>
