<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My items list</title>
    <link rel="stylesheet" href="CSS/style.css">
    <script src="js/item.js" defer></script>
</head>
<body>

    <div class="list-menu-container">
        <div class="block-list-menu"><input class="input-update" type="text" value="Item" disabled></div>
        <div id="index_1" class="block-list-menu button-update savebutton savebutton" onclick="clickCell(1)">USE</div>
        
        <div class="block-list-menu"><input class="input-update" type="text" value="Item" disabled></div>
        <div id="index_2" class="block-list-menu button-update savebutton savebutton" onclick="clickCell(2)">USE</div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Item" disabled></div>
        <div id="index_3" class="block-list-menu button-update savebutton savebutton" onclick="clickCell(3)">USE</div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Item" disabled></div>
        <div id="index_4" class="block-list-menu button-update savebutton savebutton" onclick="clickCell(4)">USE</div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Item" disabled></div>
        <div id="index_5" class="block-list-menu button-update savebutton savebutton" onclick="clickCell(5)">USE</div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Item" disabled></div>
        <div id="index_6" class="block-list-menu button-update savebutton savebutton" onclick="clickCell(6)">USE</div>
        
    </div>

        
    
    
</body>
