<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My teams list</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    
    <div class="list-menu-container list-menu-container-ex">
        <div class="block-list-menu"><input class="input-update" type="text" value="Team" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="AK Soldiers"></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="3/5" disabled></div>
        <div class="block-list-menu"><button class="button-remove" >Leave</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Team" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="CodeWear"></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="5/10" disabled></div>
        <div class="block-list-menu"><button class="button-remove" >Leave</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Team" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="300"></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="1/300" disabled></div>
        <div class="block-list-menu"><button class="button-remove" >Leave</button> </div>
        
    </div>
    <div class="list-menu-container">

        <div class="block-list-menu"><input class="input-update" type="text" value="New team(rozwijana lista)" disabled></div>
        <div class="block-list-menu"><button class="button-update" class="button-update"> JOIN </button> 
    </div>

        
    <script src="js/script.js"></script>
    
</body>
