<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quest list by menthor</title>
    <link rel="stylesheet" href="CSS/style.css">
    <script src="js/quest.js" defer></script>
</head>
<body>
    
    <div class="list-menu-container list-menu-container-ex">
        <div class="block-list-menu"><input class="input-update" type="text" value="Quest" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Name" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="ID" disabled></div>
        <div id="index_1" class="block-list-menu button-update savebutton" onclick="clickCell(1)">TO DO</div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Quest" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Name" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="ID" disabled></div>
        <div id="index_2" class="block-list-menu button-update savebutton" onclick="clickCell(2)">TO DO</div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Quest" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Name" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="ID" disabled></div>
        <div id="index_3" class="block-list-menu button-update savebutton" onclick="clickCell(3)">TO DO</div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Quest" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Name" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="ID" disabled></div>
        <div id="index_4" class="block-list-menu button-update savebutton" onclick="clickCell(4)">TO DO</div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Quest" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Name" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="ID" disabled></div>
        <div id="index_5" class="block-list-menu button-update savebutton" onclick="clickCell(5)">TO DO</div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Quest" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Name" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="ID" disabled></div>
        <div id="index_6" class="block-list-menu button-update savebutton" onclick="clickCell(6)">TO DO</div>
    </div>
</body>
</html>
