<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quest list</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    
    <div class="list-menu-container list-menu-container-ex">
        <div class="block-list-menu"><input class="input-update" type="text" value="Quest" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Passing a Checkpoint" disabled></div>
        <div class="block-list-menu"><button class="button-update" >Edit</button> </div>
        <div class="block-list-menu"><button class="button-remove" >Remove</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Quest" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Spot a major mistake" disabled></div>
        <div class="block-list-menu"><button class="button-update" >Edit</button> </div>
        <div class="block-list-menu"><button class="button-remove" >Remove</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Quest" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Screening process" disabled></div>
        <div class="block-list-menu"><button class="button-update" >Edit</button> </div>
        <div class="block-list-menu"><button class="button-remove" >Remove</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Quest" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Workshop" disabled></div>
        <div class="block-list-menu"><button class="button-update" >Edit</button> </div>
        <div class="block-list-menu"><button class="button-remove" >Remove</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Quest" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Attend 1 months" disabled></div>
        <div class="block-list-menu"><button class="button-update" >Edit</button> </div>
        <div class="block-list-menu"><button class="button-remove" >Remove</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Quest" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Do a presentation" disabled></div>
        <div class="block-list-menu"><button class="button-update" >Edit</button> </div>
        <div class="block-list-menu"><button class="button-remove" >Remove</button> </div>
    </div>
    <div class="list-menu-container">

        <div class="block-list-menu"><input class="input-update" type="text" value="New quest" disabled></div>
        <div class="block-list-menu"><button class="button-update" class="button-update">>>> ADD NEW QUEST <<<</button> 
    </div>

        
    <script src="js/script.js"></script>
    
</body>
