<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single items</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    
    <div class="store-items-container">
        <div id="bl-1" class="block">
            <img class="block-img" src="src/logo-items/castle/logo-castle2.jpg">
            <strong class="items-title">Day in home office</strong> 
            <span>You can spend a day in home office.</span>
        </div>
        <div id="bl-2" class="block">
            <img class="block-img" src="src/logo-items/mentor/logo-mentor1.jpg">
            <strong class="items-title">Private mentoring</strong> 
            <span>Mentor joins a student for private mentoring.</span>
        </div>
        <div id="bl-3" class="block">
            <img class="block-img" src="src/logo-items/time/logo-time3.jpg">
            <strong class="items-title">Additional term</strong>
            <span>Take one more chance to pass PA.</span>
        </div>
        <div id="bl-4" class="block">
            <img class="block-img" src="src/logo-items/meet/logo-meet1.jpg">
            <strong class="items-title">Mentor time</strong>
            <span>Mentor joins a student for a one hour.</span>
        </div>
        <div id="bl-5" class="block">
            <img class="block-img" src="src/logo-items/treasure/logo-treasure4.jpg">
            <strong class="items-title">Extra material</strong> 
            <span>Extra material for the current topic.</span>
        </div>

        <button id="bt-1" class="button-buy" type="button">Buy 500CC</button>
        <button id="bt-2" class="button-buy" type="button">Buy 700CC</button>
        <button id="bt-3" class="button-buy" type="button">Buy 500CC</button>
        <button id="bt-4" class="button-buy" type="button">Buy 1000CC</button>
        <button id="bt-5" class="button-buy" type="button">Buy 1000CC</button>

        
        <div id="bl-6" class="block">
            <img class="block-img" src="src/logo-items/funny/logo-funny3.jpg">
            <strong class="items-title">Funny time :)</strong> 
            <span>All mentors should dress up as pirates (or just funny) for the day.</span>
        </div>
        <div id="bl-7" class="block">
            <img class="block-img" src="src/logo-items/king/logo-king3.jpg">
            <strong class="items-title">King time</strong> 
            <span>The whole course goes to an off-school program instead for a day.</span>
        </div>
        <div id="bl-8" class="block">
            <img class="block-img" src="src/logo-items/coffee/logo-coffee3.jpg">
            <strong class="items-title">Coffee break</strong> 
            <span>You might as well take a coffee break.</span>
        </div>
        <div id="bl-9" class="block">
            <img class="block-img" src="src/logo-items/game/logo-game1.jpg">
            <strong class="items-title">Kahoot time</strong> 
            <span>You might as well take a kahoot game.</span>
        </div>
        <div id="bl-10" class="block">
            <img class="block-img" src="src/logo-items/exam/logo-exam3.jpg">
            <strong class="items-title">PA - free pass</strong> 
            <span>Everyone dreams of it, only the chosen one can have it.</span>
        </div>
        
        <button id="bt-6" class="button-buy" type="button">Buy 500CC</button>
        <button id="bt-7" class="button-buy" type="button">Buy 5000CC</button>
        <button id="bt-8" class="button-buy" type="button">Buy 30000CC</button>
        <button id="bt-9" class="button-buy" type="button">Buy 150CC</button>
        <button id="bt-10" class="button-buy" type="button">Buy 999999CC</button>
        
        
        <div id="bl-11" class="block">
            <img class="block-img" src="src/logo-items/exit/logo-exit3.jpg">
            <strong class="items-title">Attendance excuse</strong> 
            <span>Attendance excuse free of bad comments from mentor.</span>
        </div>

        <div></div>
        <div></div>
        <div></div>
        <div></div>
        
        <button id="bt-11" class="button-buy" type="button">Buy 150CC</button>
    </div>
    <script src="script.js"></script>
    
</body>
