<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single quests</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    
    <div class="store-quests-container">
        <div id="bl-" class="block">
            <img class="block-img" src="src/logo-quests/road/logo-road2.jpg">
            <strong class="quest-title">Passing a Checkpoint</strong> 
            <span>Passing a checkpoint.</span>
        </div>
        <div id="bl-" class="block">
            <img class="block-img" src="src/logo-quests/mistake/logo-mistake2.jpg">
            <strong class="quest-title">Spot a major mistake</strong>
            <span>Spot a major mistake in the assignment.</span>
        </div>
        <div id="bl-" class="block">
            <img class="block-img" src="src/logo-quests/mix/logo-mix6.jpg">
            <strong class="quest-title">Screening process</strong>
            <span>Taking part in the student screening process.</span>
        </div>
        <div id="bl-" class="block">
            <img class="block-img" src="src/logo-quests/mix/logo-mix4.jpg">
            <strong class="quest-title">Workshop</strong>
            <span>Organizing a workshop for other students.</span>
        </div>
        <div id="bl-" class="block">
            <img class="block-img" src="src/logo-quests/mix/logo-mix3.jpg">
            <strong class="quest-title">Attend 1 months</strong> 
            <span>Attend 1 months without being late .</span>
        </div>

        <button id="bt-" class="button-buy" type="button">Complete and get 100CC</button>
        <button id="bt-" class="button-buy" type="button">Complete and get 500CC</button>
        <button id="bt-" class="button-buy" type="button">Complete and get 50CC</button>
        <button id="bt-" class="button-buy" type="button">Complete and get 100CC</button>
        <button id="bt-" class="button-buy" type="button">Complete and get 400CC</button>        

        
        <div id="bl-" class="block">
            <img class="block-img" src="src/logo-quests/mix/logo-mix7.jpg">
            <strong class="quest-title">Set up a SMART goal</strong> 
            <span>Set up a SMART goal accepted by a mentor, then achieve it.</span>
        </div>
        <div id="bl-" class="block">
            <img class="block-img" src="src/logo-quests/mix/logo-mix1.jpg">
            <strong class="quest-title">Do a presentation</strong> 
            <span>Do a presentation on a meet-up.</span>
        </div>
        <div id="bl-" class="block">
            <img class="block-img" src="src/logo-quests/mix/logo-mix5.jpg">
            <strong class="quest-title">Promising child</strong> 
            <span>Beat the mentor in the discussion.</span>
        </div>
        <div id="bl-" class="block">
            <img class="block-img" src="src/logo-quests/dinosaur/logo-dinosaur1.jpg">
            <strong class="quest-title">PA - pass</strong> 
            <span>"You did it you crazy son of a ... , you did it"</span></div>
        <div id="bl-" class="block">
            <img class="block-img" src="src/logo-quests/work/logo-work1.jpg">
            <strong class="quest-title">Complete background materials</strong> 
            <span>"Its aint much but it's honest work"</span>
        </div>

        <button id="bt-" class="button-buy" type="button">Complete and get 300CC</button>
        <button id="bt-" class="button-buy" type="button">Complete and get 500-1000CC</button>
        <button id="bt-" class="button-buy" type="button">Complete and get 500CC</button>
        <button id="bt-" class="button-buy" type="button">Complete and get 1CC</button>
        <button id="bt-" class="button-buy" type="button">Complete and get 1CC</button>

        
        <div id="bl-"></div>
        <div id="bl-"></div>
        <div id="bl-"></div>
    </div>
    <script src="script.js"></script>
    
</body>
