<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students list</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    
    <div class="list-menu-container list-menu-container-ex">
        <div class="block-list-menu"><input class="input-update" type="text" value="Student 1" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Vasili" disabled></div>
        <div class="block-list-menu"><button class="button-update" >Edit</button> </div>
        <div class="block-list-menu"><button class="button-remove" >Remove</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Student 2" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Morris" disabled></div>
        <div class="block-list-menu"><button class="button-update" >Edit</button> </div>
        <div class="block-list-menu"><button class="button-remove" >Remove</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Student 3" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Murphy" disabled></div>
        <div class="block-list-menu"><button class="button-update" >Edit</button> </div>
        <div class="block-list-menu"><button class="button-remove" >Remove</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Student 4" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Perry" disabled></div>
        <div class="block-list-menu"><button class="button-update" >Edit</button> </div>
        <div class="block-list-menu"><button class="button-remove" >Remove</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Student 5" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Wallace" disabled></div>
        <div class="block-list-menu"><button class="button-update" >Edit</button> </div>
        <div class="block-list-menu"><button class="button-remove" >Remove</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Student 6" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Gutierrez" disabled></div>
        <div class="block-list-menu"><button class="button-update" >Edit</button> </div>
        <div class="block-list-menu"><button class="button-remove" >Remove</button> </div>
    </div>
    <div class="list-menu-container">

        <div class="block-list-menu"><input class="input-update" type="text" value="New student" disabled></div>
        <div class="block-list-menu"><button class="button-update" class="button-update">>>> ADD NEW STUDENT <<<</button> 
    </div>

        
    <script src="js/script.js"></script>
    
</body>
