<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team quests</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>

<div class="store-quests-container">
    <div id="bl-" class="block">
        <img class="block-img" src="src/logo-quests/work/logo-work3.jpg">
        <strong class="quest-title">Two-week assignment</strong>
        <span>Finishing two-week assignment - 100 cc per person for the team and they decide on how to share it.</span>
    </div>
    <div id="bl-" class="block">
        <img class="block-img" src="src/logo-quests/road/logo-road2.jpg">
        <strong class="quest-title">Complete project</strong>
        <span>Complete team project.</span>
    </div>
    <div id="bl-" class="block">
        <img class="block-img" src="src/logo-quests/mix/logo-mix6.jpg">
        <strong class="quest-title">Taking part in screening process</strong>
        <span>Taking part in the student screening process.</span>
    </div>
    <div id="bl-" class="block">
        <img class="block-img" src="src/logo-quests/mix/logo-mix4.jpg">
        <strong class="quest-title">Organizing a workshop</strong>
        <span>Organizing a workshop as team for other students.</span>
    </div>
    <div id="bl-" class="block">
        <img class="block-img" src="src/logo-quests/mix/logo-mix9.jpg">
        <strong class="quest-title">The best project</strong>
        <span>Students choose the best project of the week. Selected team scores.</span>
    </div>

    <button id="bt-" class="button-buy" type="button">Complete and get 100CC</button>
    <button id="bt-" class="button-buy" type="button">Complete and get 500CC</button>
    <button id="bt-" class="button-buy" type="button">Complete and get 50CC</button>
    <button id="bt-" class="button-buy" type="button">Complete and get 100CC</button>
    <button id="bt-" class="button-buy" type="button">Complete and get 400CC</button>

    <div id="bl-" class="block">
        <img class="block-img" src="src/logo-quests/mix/logo-mix8.jpg">
        <strong class="quest-title">ERD & UML</strong>
        <span>Create ERD and UML for the project.</span></div>
    <div id="bl-" class="block">
        <img class="block-img" src="src/logo-quests/work/logo-work1.jpg">
        <strong class="quest-title">Learn something new</strong>
        <span>"Its aint much but it's honest work"</span>
    </div>
    <div id="bl-" class="block">
        <img class="block-img" src="src/logo-quests/pingpong/logo-ping2.jpg">
        <strong class="quest-title">Ping-Pong Duo MASTERS</strong>
        <span>Win against a mentor duo in ping pong.</span>
    </div>
    <div id="bl-" class="block">
        <img class="block-img" src="src/logo-quests/base/logo-base3.jpg">
        <strong class="quest-title">DAO design pattern</strong>
        <span>Implement DAO pattern in your projects.</span>
    </div>
    <div id="bl-" class="block">
        <img class="block-img" src="src/logo-quests/pattern/logo-model1.jpg">
        <strong class="quest-title">MVC design pattern</strong>
        <span>Implement MVC pattern in your projects.</span>
    </div>

    <button id="bt-" class="button-buy" type="button">Complete and get 250CC</button>
    <button id="bt-" class="button-buy" type="button">Complete and get 1CC</button>
    <button id="bt-" class="button-buy" type="button">Complete and get 404CC</button>
    <button id="bt-" class="button-buy" type="button">Complete and get 800CC</button>
    <button id="bt-" class="button-buy" type="button">Complete and get 250CC</button>

    <div id="bl-" class="block">
        <img class="block-img" src="src/logo-items/game/logo-game4.jpg">
        <strong class="quest-title">Social souls</strong>
        <span>Organize an evening of board games.</span>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>

    <button id="bt-" class="button-buy" type="button">Complete and get 250CC</button>
</div>


Social souls
<script src="script.js"></script>

</body>
