<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store menu</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    
    <div class="update-menu-container">
        <div class="block-update-menu"><input class="input-update" type="text" value="Private mentoring" disabled></div>
        <div class="block-update-menu"><button class="button-update" >Update</button> </div>

        <div class="block-update-menu"><input class="input-update" type="text" value="Extend deadline" disabled></div>
        <div class="block-update-menu"><button class="button-update" >Update</button> </div>

        <div class="block-update-menu"><input class="input-update" type="text" value="60 min workshop" disabled></div>
        <div class="block-update-menu"><button class="button-update" >Update</button> </div>

        <div class="block-update-menu"><input class="input-update" type="text" value="Mentor time" disabled></div>
        <div class="block-update-menu"><button class="button-update" >Update</button> </div>

        <div class="block-update-menu"><input class="input-update" type="text" value="Extra material" disabled></div>
        <div class="block-update-menu"><button class="button-update" >Update</button> </div>

        <div class="block-update-menu"><input class="input-update" type="text" value="Funny time :)" disabled></div>
        <div class="block-update-menu"><button class="button-update" class="button-update" >Update</button> </div>

        <div class="block-update-add-new" ><a class="input-update" href=""> >>> ADD NEW ITEM <<< </a></div>
        
    </div>
    <script src="js/script.js"></script>
    
</body>
