<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update admin</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    
    
    <div class="update-menu-container">
        <div class="block-update-menu">
            <input class="input-update" type="text" value="FIRST NAME" disabled>
        </div>

        <div class="block-update-menu">
            <input id="name" class="input-update" type="text" placeholder="Click to edit value"></input>
            <span id="span-name">Wasilij</span>
        </div>

        <div id="name-button" class="block-update-menu"><button class="button-update" onclick="buttonClick('span-name', 'name')">Update</button> </div>


        <div class="block-update-menu"><input class="input-update" type="text" value="LAST NAME" disabled></div>
        <div class="block-update-menu">
            <input id="description" class="input-update" type="text" placeholder="Click to edit value"></input>
            <span id="span-description">Zajcew</span>
        </div>
        <div class="block-update-menu"><button id="description-button" class="button-update" onclick="buttonClick('span-description', 'description')">Update</button> </div>


        <div class="block-update-menu"><input class="input-update" type="text" value="EMAIL" disabled></div>
        <div class="block-update-menu">
            <input id="price" class="input-update" type="text" placeholder="Click to edit value"></input>
            <span id="span-price">snajper777@gmail.com</span>
        </div>
        <div class="block-update-menu"><button class="button-update" onclick="buttonClick('span-price', 'price')">Update</button> </div>


        <div class="block-update-menu"><input class="input-update" type="text" value="PASSWORD" disabled></div>
        <div class="block-update-menu">
            <input id="type" class="input-update" type="text" placeholder="Click to edit value"></input>
            <span id="span-type">**********</span>
        </div>
        <div class="block-update-menu"><button class="button-update" onclick="buttonClick('span-type', 'type')">Update</button> </div>

        <div class="block-update-menu"><input class="input-update" type="text" value="USER TYPE" disabled></div>
        <div class="block-update-menu">
            <input id="type" class="input-update" type="text" placeholder="Click to edit value"></input>
            <span id="span-type">1</span>
        </div>
        <div class="block-update-menu"><button class="button-update" onclick="buttonClick('span-type', 'type')">Update</button> </div>

        <div class="block-update-menu"><input class="input-update" type="text" value="PHONE" disabled></div>
        <div class="block-update-menu">
            <input id="type" class="input-update" type="text" placeholder="Click to edit value"></input>
            <span id="span-type">159486324</span>
        </div>
        <div class="block-update-menu"><button class="button-update" onclick="buttonClick('span-type', 'type')">Update</button> </div>


        <div class="block-update-menu" ><input class="input-update" type="text" value="PERMANENTLY REMOVE" disabled></input></div>
        <div class="block-update-menu"><button class="button-remove" >REMOVE</button> </div>

    </div>

    <script src="js/update.js"></script>
    
</body>
