<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store menu</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    
    
    <div class="update-menu-container">
        <div class="block-update-menu">
            <input class="input-update" type="text" value="NAME" disabled>
        </div>

        <div class="block-update-menu">
            <input id="name" class="input-update" type="text" placeholder="Click to edit value"></input>
            <span>Day in home office</span>
        </div>

        <div id="name-button" class="block-update-menu"><button class="button-update" disabled>Update</button> </div>


        <div class="block-update-menu"><input class="input-update" type="text" value="DESCRIPTION" disabled></div>
        <div class="block-update-menu">
            <input id="description" class="input-update" type="text" placeholder="Click to edit value"></input>
            <span>You can spend a day in home office.</span>
        </div>
        <div class="block-update-menu"><button id="description-button" class="button-update" disabled>Update</button> </div>


        <div class="block-update-menu"><input class="input-update" type="text" value="PRICE" disabled></div>
        <div class="block-update-menu">
            <input id="price" class="input-update" type="text" placeholder="Click to edit value"></input>
            <span>Cost 500 CC</span>
        </div>
        <div class="block-update-menu"><button class="button-update" disabled>Update</button> </div>


        <div class="block-update-menu"><input class="input-update" type="text" value="TYPE" disabled></div>
        <div class="block-update-menu">
            <input id="type" class="input-update" type="text" placeholder="Click to edit value"></input>
            <span>Single item</span>
        </div>
        <div class="block-update-menu"><button class="button-update" disabled>Update</button> </div>


        <div class="block-update-add-new" ><input class="input-update" placeholder="REMOVE" disabled></input></div>
    </div>

    <script src="js/script.js"></script>
    
</body>
