<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items list</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    
    <div class="list-menu-container list-menu-container-ex">
        <div class="block-list-menu"><input class="input-update" type="text" value="Vasili [5342]" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="1250 CC"></div>
        <div class="block-list-menu"><button class="button-update" >Update</button> </div>
        <div class="block-list-menu"><button class="button-remove" >Remove</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Morris [8456]" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Extend deadline"></div>
        <div class="block-list-menu"><button class="button-update" >Update</button> </div>
        <div class="block-list-menu"><button class="button-remove" >Remove</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Murphy [1936]" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="60 min workshop"></div>
        <div class="block-list-menu"><button class="button-update" >Update</button> </div>
        <div class="block-list-menu"><button class="button-remove" >Remove</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Perry [5543]" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Mentor time"></div>
        <div class="block-list-menu"><button class="button-update" >Update</button> </div>
        <div class="block-list-menu"><button class="button-remove" >Remove</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Wallace [1354]" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Extra material"></div>
        <div class="block-list-menu"><button class="button-update" >Update</button> </div>
        <div class="block-list-menu"><button class="button-remove" >Remove</button> </div>

        <div class="block-list-menu"><input class="input-update" type="text" value="Gutierrez [7724]" disabled></div>
        <div class="block-list-menu"><input class="input-update" type="text" value="Funny time :)"></div>
        <div class="block-list-menu"><button class="button-update" >Update</button> </div>
        <div class="block-list-menu"><button class="button-remove" >Remove</button> </div>
    </div>
    <div class="list-menu-container">

        <div class="block-list-menu"><input class="input-update" type="text" value="New item" disabled></div>
        <div class="block-list-menu"><button class="button-update" class="button-update">>>> ADD NEW ITEM <<<</button> 
    </div>

        
    <script src="js/script.js"></script>
    
</body>
