<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wallets list</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>

<div class="update-menu-container">
    <div class="block-update-menu"><input class="input-update" type="text" value="Vasili Kahotow" disabled></div>
    <div class="block-update-menu"><input class="input-update" type="text" value="ID 5342" disabled></div>
    <div class="block-update-menu"><input class="input-update" type="text" value="Balance 1250 CC" disabled></div>

    <div class="block-update-menu"><input class="input-update" type="text" value="Morris Faust" disabled></div>
    <div class="block-update-menu"><input class="input-update" type="text" value="ID 8456" disabled></div>
    <div class="block-update-menu"><input class="input-update" type="text" value="Balance 350 CC" disabled></div>

    <div class="block-update-menu"><input class="input-update" type="text" value="Murphy Klein" disabled></div>
    <div class="block-update-menu"><input class="input-update" type="text" value="ID 1936" disabled></div>
    <div class="block-update-menu"><input class="input-update" type="text" value="Balance 1700 CC" disabled></div>

    <div class="block-update-menu"><input class="input-update" type="text" value="Perry Janey" disabled></div>
    <div class="block-update-menu"><input class="input-update" type="text" value="ID 5543" disabled></div>
    <div class="block-update-menu"><input class="input-update" type="text" value="Balance 125 CC" disabled></div>

    <div class="block-update-menu"><input class="input-update" type="text" value="Wallace Hansen" disabled></div>
    <div class="block-update-menu"><input class="input-update" type="text" value="ID 1354" disabled></div>
    <div class="block-update-menu"><input class="input-update" type="text" value="Balance 700 CC" disabled></div>

    <div class="block-update-menu"><input class="input-update" type="text" value="Gutierrez Rees" disabled></div>
    <div class="block-update-menu"><input class="input-update" type="text" value="ID 7724" disabled></div>
    <div class="block-update-menu"><input class="input-update" type="text" value="Balance 3500 CC" disabled></div>

</div>

<script src="js/script.js"></script>

</body>
